@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Overpass:wght@400;700&display=swap');

/*------------Colors----------*/

.bg-color-name-title {
    background-color: #084c41;
}

.ui-menu-color-home {
    background-color:  #EF7126;
}

.ui-menu-color-resume {
    background-color:   #6CCECB;
}

.ui-menu-color-contact {
    background-color:  #8EDC9D;
}

.ui-menu-color-download {
    background-color: #218C8D;
}

/*------------Heading----------*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/profilePic.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: 'Marcellus', sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: 'Overpass', sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}
